.action-bar {
    background-color: #075E54;
    color: #FFFFFF;
}

item_tab {
    background-color: #075E54;

}

TabStripItem {
    color: #fff;
}

Image{
    border-radius:50%;
    width:180px;
    height:180px;
}

.chat{
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 50px;
}


